
.accordionWrapper {
 margin: 10%;
 max-width: 1440px;
 display: inline-block
}

.accordionItem {
 float: left;
 display: block;
 width: 100%;
 box-sizing: border-box;
 font-family: 'Open-sans', Arial, sans-serif;
}

.accordionItemHeading {
 cursor: pointer;
 margin: 0px 0px 10px 0px;
 padding: 10px;
 border-bottom: 2px solid #bdc3c7;
 color: #000;
 width: 100%;
 font-weight: 400;
}

.accordionItemContent {
 p {
  padding-bottom: 5px
 }
 ul {
  margin-left: 20px;
  li {
   list-style: disc !important;
   padding: 10px 0px 0px 0px;
  }
    li::marker {
     padding-right: 3px;
    }
 }
 ol {
  margin-left: 20px;
  li {
   list-style: decimal !important;
   padding: 10px 0px 0px 0px;
  }
  li::marker {
   padding-right: 3px;
  }
 }
}

.close .accordionItemContent {
 height: 0px;
 transition: height 1s ease-out;
 -webkit-transform: scaleY(0);
 -o-transform: scaleY(0);
 -ms-transform: scaleY(0);
 transform: scaleY(0);
 float: left;
 display: block;


}

.open .accordionItemContent {
 padding: 20px;
 background-color: #fff;
 width: 100%;
 margin: 0px 0px 10px 0px;
 display: block;
 // -webkit-transform: scaleY(1);
 // -o-transform: scaleY(1);
 // -ms-transform: scaleY(1);
 // transform: scaleY(1);
 // -webkit-transform-origin: top;
 // -o-transform-origin: top;
 // -ms-transform-origin: top;
 // transform-origin: top;

 // -webkit-transition: -webkit-transform 0.4s ease-out;
 // -o-transition: -o-transform 0.4s ease;
 // -ms-transition: -ms-transform 0.4s ease;
 // transition: transform 0.4s ease;
 // box-sizing: border-box;
}

.open .accordionItemHeading {
 margin: 0px;
 color: #000;
}